/* fuentes */
/* para generar kit de fuentes http://www.fontsquirrel.com/tools/webfont-generator */
@font-face {
    font-family: "obcecada";
    src: url('../fuentes/obcecada-sans-ffp-webfont.eot');
    src: url('../fuentes/obcecada-sans-ffp-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/obcecada-sans-ffp-webfont.woff2') format('woff2'),
         url('../fuentes/obcecada-sans-ffp-webfont.woff') format('woff'),
         url('../fuentes/obcecada-sans-ffp-webfont.ttf') format('truetype'),
         url('../fuentes/obcecada-sans-ffp-webfont.svg#obcecada_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fuentes/roboto-thin-webfont.eot');
    src: url('../fuentes/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/roboto-thin-webfont.woff2') format('woff2'),
         url('../fuentes/roboto-thin-webfont.woff') format('woff'),
         url('../fuentes/roboto-thin-webfont.ttf') format('truetype'),
         url('../fuentes/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sketch3d';
    src: url('../fuentes/sketch_3d-webfont.woff2') format('woff2'),
         url('../fuentes/sketch_3d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'marshmallow';
    src: url('../fuentes/soft_marshmallow-webfont.woff2') format('woff2'),
         url('../fuentes/soft_marshmallow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height:100%;
    margin: 0px;
} 
#pagewrap{
	align: center;
	text-align: center;
}
.borde-izq{
	position: absolute;
	height: 100%;
	margin-left: -15px;
}
.borde-der{
	position: absolute;
	height: 20%;
	right:5px;
	bottom: 1%;
}
.borde-abaj{
	position: absolute; 
	width: 85%;
	height: 9px;
	bottom: 9px;
	left: 10%;
	background-image: url('../imagenes/borde-baj.png');
	-moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;

    background-repeat: right;
}
.contenido{
	background-color: #bab9b9;
	background-image: url('../imagenes/fondo.jpg');
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.menu{
	background-color: #0000cc;
	height: 100%;
	-moz-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	-webkit-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	overflow: auto;
}
.menu-boton{
	cursor: pointer;
	margin: auto auto;
	margin-top: 1em;
	width: 4em;
	height: 4em;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	-webkit-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
}
.menu-boton:hover{
	-moz-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .5);
	-webkit-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .5);
	box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .5);	
}
.menu-boton img{
	width: 100%;
	height: 100%;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background: #FFF;
}
.menu-boton img:hover{
	margin-left: -0.2em;
	margin-top: 0.2em;
}
.menu-tooltip{
	font-family: "marshmallow";
	color: #fff;
	margin-top: 0.2em;
	font-size: 1.1em;
}
/* centrado vertical y horizontal */
.centrado-centrado{
	width: 97%;
    text-align: center;
    position: absolute;
	top: 45%;
	--transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.T1{
	position: absolute;
	margin-left: 50%;
	--transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-top: 2%;
	font-family: "marshmallow";
	font-size: 2.8em;
	background: rgba(255,73,41,1);
	background: -moz-linear-gradient(left, rgba(255,73,41,1) 0%, rgba(88,77,255,1) 26%, rgba(61,204,33,1) 51%, rgba(250,202,8,1) 71%, rgba(255,35,15,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,73,41,1)), color-stop(26%, rgba(88,77,255,1)), color-stop(51%, rgba(61,204,33,1)), color-stop(71%, rgba(250,202,8,1)), color-stop(100%, rgba(255,35,15,1)));
	background: -webkit-linear-gradient(left, rgba(255,73,41,1) 0%, rgba(88,77,255,1) 26%, rgba(61,204,33,1) 51%, rgba(250,202,8,1) 71%, rgba(255,35,15,1) 100%);
	background: -o-linear-gradient(left, rgba(255,73,41,1) 0%, rgba(88,77,255,1) 26%, rgba(61,204,33,1) 51%, rgba(250,202,8,1) 71%, rgba(255,35,15,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,73,41,1) 0%, rgba(88,77,255,1) 26%, rgba(61,204,33,1) 51%, rgba(250,202,8,1) 71%, rgba(255,35,15,1) 100%);
	background: linear-gradient(to right, rgba(255,73,41,1) 0%, rgba(88,77,255,1) 26%, rgba(61,204,33,1) 51%, rgba(250,202,8,1) 71%, rgba(255,35,15,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4929', endColorstr='#ff230f', GradientType=1 );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.T1-inicio{
	width: 80%;
}
.T1-sombra{
	text-shadow:3px 3px 6px #000;
}
.T2{
    font-family: 'marshmallow';
	font-size: 22px;
	position:fixed; 
	bottom:5%;
	margin-left: 17%;
}
.IM1{
	margin-top: 4em;
	height: 24em;
}
.im-simbolos{
	height: 250px;
}
.parrafo{
    font-family: 'marshmallow';
	font-size: 22px;
	position: relative;
	width: 80%;
	margin-top: 10%;
	max-height: 60%;
	overflow: auto;
	margin-right: 5%;
}
.parrafo p{
	margin-top: 2em;
	text-align: left;
}
.parrafo ul li{
	text-align: left;
}

.parrafo ol li{
	text-align: left;
}
.ver-video{
	cursor: pointer;
    font-family: 'marshmallow';
}
.ver-video img{
	height: 60px;
}
.recordar-img{
	cursor: pointer;
	height: 5em;
	margin-left: 2em;
}
.recordar-tit{
    font-family: 'marshmallow';
	font-size: 22px;
	position:fixed; 
	bottom:5%;
	margin-left: 14%;
	color: #0000FF;
	text-shadow:1px 1px 2px #333;
}
.marshmallow{
	font-family: "marshmallow";
	font-size: 2em;
}	
.amarillo{
	font-weight: bold;
	color: #fcdf1f;
	text-shadow:1px 1px 1px #000;
}
.azul{
	font-weight: bold;
	color: #0000FF;
	text-shadow:1px 1px 1px #000;
}
.rojo{
	font-weight: bold;
	color: #ff0000;
	text-shadow:1px 1px 1px #000;
}
.modal-1{
	background-color: #bab9b9;
	background-image: url('../imagenes/fondo.jpg');
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.modal-contenido{
	text-align: center;
}
.mapa-mental{
	max-width: 90%;
	max-height: 80%;
	margin-bottom: 15px;
}
.atras{
	position: fixed;
	bottom: 0px;
	cursor: pointer;
	margin-top: 2em;
	right: 10px;
}
.glosario-letra{
	border: 1px solid #000; 
	color: #0000EE;
	position:relative; 
	float: left; 
	width: 40px;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 5px;
}
.glosario-contenido{
	margin-top: 20px;
	width: 90%;
	text-align: left;
}
/* Juegos */
.cubo-etiqueta{
	font-family: "obcecada";
	font-weight: bold;
	font-size: 3em;
	position:fixed; 
	bottom: 10%; 
	width:100%;
	text-shadow:3px 3px 3px #CCC;
	text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
}
.jugar{
	width: 3em;
	background-color: #FFFF00;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	font-family: "obcecada";
	font-weight: bold;
	color: #CC0000;
	font-size: 2em;
	cursor: pointer;
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari */
    transform: rotate(30deg);
    margin-top: 0.6em;
    border: 2px solid #CC0000;
    float: right
}
.jugar:hover{
	background-color: #CC0000;
	color: #FFFF00;
	border: 2px solid #FFFF00;
}
.sopa{
	margin-left: 2em;
	margin-top: 5em;
}
#mensaje-sopa{
	margin-top: 0.5em;
	font-family: "obcecada";
	font-weight: bold;
	font-size: 3em;
	color: #CC0000;
}
.rompecabeza{
	border: 3px solid #CCC;
	background:#DDD;
	padding:0px;
	text-align:	center;
	width: 87%;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	-webkit-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
}
#puzzle_solved{
	font-family: "roboto";
	font-weight: bold;
	font-size: 1.2em;
}
#puzzle_solved h2{
	font-family: "obcecada";
	font-weight: bold;
	font-size: 1.5em;
	color: #CC0000;	
}
#responde-img{
	float: left;
	width: 19em;
	height: 19.5em;
	margin-left: 120px;
	border: 1px solid #000;
	padding: 5px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color: #fff;
	-moz-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	-webkit-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
}
#responde-img img{
	width: 100%;
}
#responde-im1{
	-moz-border-radius: 12px 0px 0px 0px;
	-webkit-border-radius: 12px 0px 0px 0px;
	border-radius: 12px 0px 0px 0px;
}
#responde-im2{
	-moz-border-radius: 0px 12px 0px 0px;
	-webkit-border-radius: 0px 12px 0px 0px;
	border-radius: 0px 12px 0px 0px;
}
#responde-im3{
	-moz-border-radius: 0px 0px 0px 12px;
	-webkit-border-radius: 0px 0px 0px 12px;
	border-radius: 0px 0px 0px 12px;
}
#responde-im4{
	-moz-border-radius: 0px 0px 12px 0px;
	-webkit-border-radius: 0px 0px 12px 0px;
	border-radius: 0px 0px 12px 0px;
}
#responde-preguntas{
	border: 1px solid #000;
	float: left;
	width: 25em;
	height: 19.5em;
	text-align: left;
}
#relacion1{
	position: relative;
	z-index: 99;
	float: left;
	width: 19em;
	height: 19.5em;
	margin-left: 120px;
	border: 1px solid #000;
	padding: 5px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color: #fff;
	-moz-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	-webkit-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
}
#relacion1-t1{
	background-image: url('../imagenes/im4-1.png');
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    text-align: right;
}
#relacion1-t2{
	background-image: url('../imagenes/im4-2.png');
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    text-align: right;
}
#relacion1-t3{
	background-image: url('../imagenes/im4-3.png');
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    text-align: right;
}
#relacion2{
	position: relative;
	z-index: 99;
	float: right;
	width: 19em;
	height: 19.5em;
	margin-right: 20px;
	border: 1px solid #000;
	padding: 5px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color: #fff;
	-moz-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	-webkit-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
	box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
}
#relacion2-t1{

}
#relacion2-t2{

}
#relacion2-t3{

}
#linea-contenedor{
	position: absolute; 
	z-index: 1;
	float: left; 
	top: 0px;	
	width: 100%; 
	height: 80%;
	left: 0px; 
}
#linea-1{
	stroke: green; 
	stroke-width: 5;
}
#linea-2{
	stroke: green; 
	stroke-width: 5;
}
#linea-3{
	stroke: green; 
	stroke-width: 5;
}