    #titulo{
        background-color: #E1E1E1;
        width: 100%;
        overflow: hidden;
        border: 1px solid #e0e0e0;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        background-color: rgba(0,0,0,.03);
        box-shadow: 0 1px 6px rgba(0,0,0,.08);
        height: 90px;
        min-height: 60px;
        text-align: center;
    }

    #tituloDentro{
        margin: auto;
        width: 1024px;
        height: auto;
        position: relative;
        font-size: 2em;
        padding-left: 80px;
        padding-top: 13px;
    }


    #contenido-memoria{
        width: 100%;
        overflow: hidden;
        border: 1px solid #e0e0e0;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }

    #contenidoDentro{
        margin: auto;
        width: 1024px;
        height: auto;
        position: relative;
        padding: 20px;
        font-size: 2em;
        padding-left: 60px;
    }
    .memoria-personaliza{
        margin-left: 100px;
    }
    .memoria-personaliza>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
        border: 2px solid #fff;
    }

    .personaje{
        width: 80px;
        height: 100px;
        background-color: #E1E1E1;
        float: left;
        margin: 5px;
    }

    #tituloDentro img{
        float: left;
    }
    #fallos{
        float: left;
        border: 1px solid #e0e0e0;
        background-color: white;
        font-size: 15px;
        padding: 6px;
        margin-top: 30px;
        margin-left: 20px;
        background: #f7f7f7; /* Old browsers */
        background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f7f7f7 0%,#ffffff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }