/**
* Wordfind.js 0.0.1
* (c) 2012 Bill, BunKat LLC.
* Wordfind is freely distributable under the MIT license.
* For all details and documentation:
*     http://github.com/bunkat/wordfind
*/

p {
  font: 22pt sans-serif;
  margin: 20px 20px 0px 10px;
}

/**
* Styles for the puzzle
*/
#juego {
  border: 3px solid black;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding: 5px;
  float: left;
  margin-left: 90px;
  background-color: white;
  -moz-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
  -webkit-box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
  box-shadow: -14px 10px 14px -7px rgba(0, 0, 0, .8);
}

#juego div {
  width: 100%;
  margin: 0 auto;
}

/* style for each square in the puzzle */
#juego .puzzleSquare {
  height: 30px;
  width: 30px;
  text-transform: uppercase;
  background-color: white;
  border: 0;
  font: 1.5em 'obcecada';
  font-weight: bold;
}

button::-moz-focus-inner {
  border: 0;
}

/* indicates when a square has been selected */
#juego .selected {
  background-color: orange;
}

/* indicates that the square is part of a word that has been found */ 
#juego .found {
  background-color: blue;
  color: white;
}

#juego .solved {
  background-color: purple;
  color: white;
}

/* indicates that all words have been found */
#juego .complete {
  background-color: green;
}

/**
* Styles for the word list
*/
#Palabras {
  padding-top: 40px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  width: 300px;
}

#Palabras ul {
  list-style-type: none;
}

#Palabras li {
  padding: 3px 0;
  font: 1.5em 'roboto';
  font-weight: bold;
}

/* indicates that the word has been found */
#Palabras .wordFound {
  text-decoration: line-through;
  color: red;
}

/**
* Styles for the button
*/
#solve {
  margin: 30 30px;
}
