<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Símbolo Patrios Venezuela</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
</head>
<body>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <div id="pagewrap">
        <audio autoplay>
            <source src="../sonidos/3_bandera.mp3">
        </audio>
        <div ng-app="myApp" ng-controller="cntrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 contenido" style="position: absolute; height: 100%;">
                        <div class="borde-abaj">&nbsp;</div>
                        <div class="borde-izq">
                            <img src="../imagenes/borde-izq.png" height="99%">
                        </div>
                        <div class="borde-der">
                            <img src="../imagenes/esq-der.png" height="99%">
                        </div>
                        <div class="T1 T1-sombra">{{t15}}</div>
                        <div class="T1">{{t15}}</div>
                        <div id="content-3" class="parrafo pull-right ">
                            <map name="mapa1"> 
                                <area title="Pulsa para descubrir..." shape="rect" coords="0,0,400,78" href="#" data-toggle="modal" data-target="#modal-amarillo">
                                <area title="Pulsa para descubrir..." shape="rect" coords="0,79,400,165" href="#" data-toggle="modal" data-target="#modal-azul">
                                <area title="Pulsa para descubrir..." shape="rect" coords="0,166,400,300" href="#" data-toggle="modal" data-target="#modal-rojo">
                            </map> 
                            <img class="im-simbolos" src="../imagenes/im4.png" usemap="#mapa1">
                            <p>{{t16}}</p>
                            <br>
                        </div>
                        <div class="recordar-tit"><img data-toggle="modal" data-target="#modal"  class="recordar-img" src="../imagenes/recordar.png">{{t17}}</div>
                    </div>
                    <div class="col-md-2 menu" style="position: absolute; height: 100%; right: 0px;">
                        <div class="menu-boton" onclick="window.location='../retorno.html'"><img src="../imagenes/im0.gif"></div>
                        <div class="menu-tooltip">{{t0}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/simbolos.html'"><img src="../imagenes/im2.jpg"></div>
                        <div class="menu-tooltip">{{t3}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/identidad.html'"><img src="../imagenes/im3.png"></div>
                        <div class="menu-tooltip">{{t4}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/bandera.html'"><img src="../imagenes/im4.png"></div>
                        <div class="menu-tooltip">{{t5}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/escudo.html'"><img src="../imagenes/im5.jpg"></div>
                        <div class="menu-tooltip">{{t6}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/himno.html'"><img src="../imagenes/im6.jpg"></div>
                        <div class="menu-tooltip">{{t7}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/actividades.html'"><img src="../imagenes/im7.jpg"></div>
                        <div class="menu-tooltip">{{t8}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/juegos.html'"><img src="../imagenes/im8.jpg"></div>
                        <div class="menu-tooltip">{{t9}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/glosario.html'"><img src="../imagenes/im9.gif"></div>
                        <div class="menu-tooltip">{{t10}}</div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <!-- MODAL -->
            <div class="modal fade" id="modal" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%">
                <div class="modal-content modal-1">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido">
                        <img class="mapa-mental" src="../imagenes/mapas-bandera.png">
                    </div>
                    <div class="atras" data-dismiss="modal"><img src="../imagenes/flecha_atras.gif" height="70px"></div>
                  </div>
                </div>  
              </div>    
            </div>
            <!-- MODAL Amarillo -->
            <div class="modal fade" id="modal-amarillo" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%">
                <div class="modal-content modal-1" style="margin-top: 10em; min-height: 14em;">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido marshmallow" style="width: 20em;">
                        <div style="position:relative; float: right;"><img height="150px;" src="../imagenes/im14.jpg"></div>
                        <span class="amarillo">{{t18_1}}</span><br>{{t18_2}}
                    </div>
                    <div class="atras" data-dismiss="modal"><img src="../imagenes/flecha_atras.gif" height="70px"></div>
                  </div>
                </div>  
              </div>
            </div>
            <!-- MODAL Azul -->
            <div class="modal fade" id="modal-azul" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%">
                <div class="modal-content modal-1" style="margin-top: 6em; min-height: 10em;">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido marshmallow" style="width: 20em;">
                        <div style="position:relative; float: right;"><img height="150px;" src="../imagenes/im15.jpg"></div>
                        <span class="azul">{{t19_1}}</span><br>{{t19_2}}
                    </div>
                    <div class="atras" data-dismiss="modal"><img src="../imagenes/flecha_atras.gif" height="70px"></div>
                  </div>
                </div>  
              </div>
            </div>    
            <!-- MODAL Rojo -->
            <div class="modal fade" id="modal-rojo" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%;">
                <div class="modal-content modal-1" style="margin-top: 10em; min-height: 10em;">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido marshmallow" style="width: 20em;">
                        <div style="position:relative; float: right;"><img height="150px;" src="../imagenes/im16.jpg"></div>
                        <span class="rojo">{{t20_1}}</span><br>{{t20_2}}
                    </div>
                    <div class="atras" data-dismiss="modal"><img src="../imagenes/flecha_atras.gif" height="70px"></div>
                  </div>
                </div>  
              </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/texto.js"></script>
    <script type="text/javascript" src="../bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- custom scrollbar plugin -->
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      (function($){
        $(window).load(function(){
          $("#content-3").mCustomScrollbar({
            scrollButtons:{enable:true},
            theme:"rounded-dots-dark",
            scrollbarPosition:"outside",
            alwaysShowScrollbar:2
          });
        });
      })(jQuery);
    </script>
</body>
</html>