<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Símbolo Patrios Venezuela</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript">
        function muestra(letra){
            $(".glosario-contenido").hide();
            $("#"+letra).show();
            $("#content-3").mCustomScrollbar("scrollTo",0);
        }
    </script>
</head>
<body>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <div id="pagewrap">
        <audio autoplay>
            <source src="../sonidos/8_glosario.mp3">
        </audio>
        <div ng-app="myApp" ng-controller="cntrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 contenido" style="position: absolute; height: 100%;">
                        <div class="borde-abaj">&nbsp;</div>
                        <div class="borde-izq">
                            <img src="../imagenes/borde-izq.png" height="99%">
                        </div>
                        <div class="borde-der">
                            <img src="../imagenes/esq-der.png" height="99%">
                        </div>
                        <div class="T1 T1-sombra">{{t10}}</div>
                        <div class="T1">{{t10}}</div>
                        <div class="parrafo pull-right ">
                            <div class="glosario-letra" onclick="muestra('a');">a</div>
                            <div class="glosario-letra" onclick="muestra('b');">b</div>
                            <div class="glosario-letra" onclick="muestra('c');">c</div>
                            <div class="glosario-letra" onclick="muestra('d');">d</div>
                            <div class="glosario-letra" onclick="muestra('e');">e</div>
                            <div class="glosario-letra" onclick="muestra('f');">f</div>
                            <div class="glosario-letra" onclick="muestra('g');">g</div>
                            <div class="glosario-letra" onclick="muestra('h');">h</div>
                            <div class="glosario-letra" onclick="muestra('i');">i</div>
                            <div class="glosario-letra" onclick="muestra('j');">j</div>
                            <div class="glosario-letra" onclick="muestra('k');">k</div>
                            <div class="glosario-letra" onclick="muestra('l');">l</div>
                            <div class="glosario-letra" onclick="muestra('m');">m</div>
                            <div class="glosario-letra" onclick="muestra('n');">n</div>
                            <div class="glosario-letra" onclick="muestra('o');">o</div>
                            <div class="glosario-letra" onclick="muestra('p');">p</div>
                            <div class="glosario-letra" onclick="muestra('q');">q</div>
                            <div class="glosario-letra" onclick="muestra('r');">r</div>
                            <div class="glosario-letra" onclick="muestra('s');">s</div>
                            <div class="glosario-letra" onclick="muestra('t');">t</div>
                            <div class="glosario-letra" onclick="muestra('u');">u</div>
                            <div class="glosario-letra" onclick="muestra('v');">v</div>
                            <div class="glosario-letra" onclick="muestra('w');">w</div>
                            <div class="glosario-letra" onclick="muestra('x');">x</div>
                            <div class="glosario-letra" onclick="muestra('y');">y</div>
                            <div class="glosario-letra" onclick="muestra('z');">z</div>
                        </div>
                        <div id="content-3" class="parrafo pull-right " style="margin-top:0;max-height:45%;">
                            <div id="a" class="glosario-contenido"><span class="amarillo">Actividad: </span>Se trata de las acciones que desarrolla un individuo o una institución de manera cotidiana, como parte de sus obligaciones, tareas o funciones.</div>
                            <div id="b" class="glosario-contenido"><span class="amarillo">Bandera:</span> es una pieza de tela, normalmente rectangular, aunque puede adoptar formas muy variadas, que se sujeta por uno de sus lados a un asta, o se cuelga de una driza. Se utiliza para identificar o representar a una persona o grupo de personas. También puede servir para transmitir señales para comunicarse.</div>
                            <div id="c" class="glosario-contenido"></div>
                            <div id="d" class="glosario-contenido"></div>
                            <div id="e" class="glosario-contenido"><span class="amarillo">Escudo:</span> Insignia de una entidad o corporación.</div>
                            <div id="f" class="glosario-contenido"></div>
                            <div id="g" class="glosario-contenido"></div>
                            <div id="h" class="glosario-contenido"><span class="amarillo">Himno:</span> Composición poética o musical de tono solemne que representa y ensalza a una organización o un país y en cuyo honor se interpreta en actos públicos.</div>
                            <div id="i" class="glosario-contenido"><span class="amarillo">Identidad:</span> Conjunto de rasgos o características de una persona o cosa que permiten distinguirla de otras en un conjunto.</div>
                            <div id="j" class="glosario-contenido"></div>
                            <div id="k" class="glosario-contenido"></div>
                            <div id="l" class="glosario-contenido"></div>
                            <div id="m" class="glosario-contenido"></div>
                            <div id="n" class="glosario-contenido"></div>
                            <div id="o" class="glosario-contenido"></div>
                            <div id="p" class="glosario-contenido"><span class="amarillo">Patria:</span> suele designar la tierra natal o adoptiva a la que un individuo se siente ligado por vínculos de diversa índole, como afectivos, culturales o históricos o lugar donde se nace. Se denomina patriotismo al pensamiento o sentimiento que vincula a un individuo con su patria.</div>
                            <div id="q" class="glosario-contenido"></div>
                            <div id="r" class="glosario-contenido"></div>
                            <div id="s" class="glosario-contenido"><span class="amarillo">Símbolo:</span> Llamamos símbolo a un término, un nombre o una imagen que puede ser conocido en la vida diaria aunque posea connotaciones específicas además de su significado corriente y obvio.</div>
                            <div id="t" class="glosario-contenido"></div>
                            <div id="u" class="glosario-contenido"></div>
                            <div id="v" class="glosario-contenido"></div>
                            <div id="w" class="glosario-contenido"></div>
                            <div id="x" class="glosario-contenido"></div>
                            <div id="y" class="glosario-contenido"></div>
                            <div id="z" class="glosario-contenido"></div>
                        </div>
                    </div>
                    <div class="col-md-2 menu" style="position: absolute; height: 100%; right: 0px;">
                        <div class="menu-boton" onclick="window.location='../retorno.html'"><img src="../imagenes/im0.gif"></div>
                        <div class="menu-tooltip">{{t0}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/simbolos.html'"><img src="../imagenes/im2.jpg"></div>
                        <div class="menu-tooltip">{{t3}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/identidad.html'"><img src="../imagenes/im3.png"></div>
                        <div class="menu-tooltip">{{t4}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/bandera.html'"><img src="../imagenes/im4.png"></div>
                        <div class="menu-tooltip">{{t5}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/escudo.html'"><img src="../imagenes/im5.jpg"></div>
                        <div class="menu-tooltip">{{t6}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/himno.html'"><img src="../imagenes/im6.jpg"></div>
                        <div class="menu-tooltip">{{t7}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/actividades.html'"><img src="../imagenes/im7.jpg"></div>
                        <div class="menu-tooltip">{{t8}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/juegos.html'"><img src="../imagenes/im8.jpg"></div>
                        <div class="menu-tooltip">{{t9}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/glosario.html'"><img src="../imagenes/im9.gif"></div>
                        <div class="menu-tooltip">{{t10}}</div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <!-- MODAL -->
            <div class="modal fade" id="modal" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%">
                <div class="modal-content modal-1">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido">
                        <img class="mapa-mental" src="../imagenes/mapas-bandera.png">
                    </div>
                    <div class="atras" data-dismiss="modal"><img src="../imagenes/flecha_atras.gif" height="70px"></div>
                  </div>
                </div>  
              </div>    
            </div>
            <!-- MODAL Amarillo -->
            <div class="modal fade" id="modal-amarillo" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%">
                <div class="modal-content modal-1" style="margin-top: 10em; min-height: 14em;">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido marshmallow" style="width: 20em;">
                        <div style="position:relative; float: right;"><img height="150px;" src="../imagenes/im14.jpg"></div>
                        <span class="amarillo">{{t18_1}}</span><br>{{t18_2}}
                    </div>
                    <div class="atras" data-dismiss="modal"><img src="../imagenes/flecha_atras.gif" height="70px"></div>
                  </div>
                </div>  
              </div>
            </div>
            <!-- MODAL Azul -->
            <div class="modal fade" id="modal-azul" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%">
                <div class="modal-content modal-1" style="margin-top: 6em; min-height: 10em;">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido marshmallow" style="width: 20em;">
                        <div style="position:relative; float: right;"><img height="150px;" src="../imagenes/im15.jpg"></div>
                        <span class="azul">{{t19_1}}</span><br>{{t19_2}}
                    </div>
                    <div class="atras" data-dismiss="modal"><img src="../imagenes/flecha_atras.gif" height="70px"></div>
                  </div>
                </div>  
              </div>
            </div>    
            <!-- MODAL Rojo -->
            <div class="modal fade" id="modal-rojo" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%;">
                <div class="modal-content modal-1" style="margin-top: 10em; min-height: 10em;">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido marshmallow" style="width: 20em;">
                        <div style="position:relative; float: right;"><img height="150px;" src="../imagenes/im16.jpg"></div>
                        <span class="rojo">{{t20_1}}</span><br>{{t20_2}}
                    </div>
                    <div class="atras" data-dismiss="modal"><img src="../imagenes/flecha_atras.gif" height="70px"></div>
                  </div>
                </div>  
              </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/texto.js"></script>
    <script type="text/javascript" src="../bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- custom scrollbar plugin -->
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      (function($){
        $(window).load(function(){
          $("#content-3").mCustomScrollbar({
            scrollButtons:{enable:true},
            theme:"rounded-dots-dark",
            scrollbarPosition:"outside",
            alwaysShowScrollbar:2
          });
        });
      })(jQuery);
    </script>
    <script type="text/javascript">muestra('a');</script>
</body>
</html>