<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Símbolo Patrios Venezuela</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="../css/jplayer.blue.monday.min.css">
    <script type="text/javascript" src="../bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery.jplayer.min.js"></script>
    <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function(){
        $("#jquery_jplayer_1").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    title: "Himno Nacional de Venezuela",
                    m4v: "../video/himno.mp4"
                });
            },
            swfPath: "../js/jplayer",
             supplied: "m4v",
            size: {
                width: "640px",
                height: "300px",
                cssClass: "jp-video-360p"
            },
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true
        });

    });
    //]]>
    </script>
</head>
<body>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <div id="pagewrap">
        <audio autoplay>
            <source src="../sonidos/5_himno.mp3">
        </audio>
        <div ng-app="myApp" ng-controller="cntrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 contenido" style="position: absolute; height: 100%;">
                        <div class="borde-abaj">&nbsp;</div>
                        <div class="borde-izq">
                            <img src="../imagenes/borde-izq.png" height="99%">
                        </div>
                        <div class="borde-der">
                            <img src="../imagenes/esq-der.png" height="99%">
                        </div>
                        <div class="T1 T1-sombra">{{t30}}</div>
                        <div class="T1">{{t30}}</div>
                        <div id="content-3" class="parrafo pull-right ">
                            <img class="im-simbolos" src="../imagenes/im11.jpg">
                            <p>Es el canto patriótico conocido con el nombre tradicional de "Gloria al Bravo Pueblo". Sus autores fueron Juan José Landaeta (música) y Vicente Salias (letra) .Aunque sus orígenes se remontan a la época inicial de la Independencia, su designación oficial como Himno Nacional fue hecha por el Presidente de la República, Antonio Guzmán Blanco, en Caracas el 25 de mayo de 1881.
                            <br>
                            <br>
                            El himno debe entonarse:</p>
                            <ul>
                                <li>Para tributar honores a la Bandera Nacional.</li>
                                <li>Para rendir homenaje al Presidente de la República.</li>
                                <li>En los actos oficiales de solemnidad.</li>
                                <li>En los actos públicos que se lleven a efecto en Estados y Territorios de la República para la conmemoración de las fechas históricas de la Patria, y en aquellos que determine el Reglamento de la presente Ley.</li>
                            </ul>
                            <br><br>
                        </div>
                        <div class="T2">
                            <div data-toggle="modal" data-target="#modal" class="ver-video rojo"><img src="../imagenes/videos.png"><br>{{t41}}</div>
                        </div>
                    </div>
                    <div class="col-md-2 menu" style="position: absolute; height: 100%; right: 0px;">
                        <div class="menu-boton" onclick="window.location='../retorno.html'"><img src="../imagenes/im0.gif"></div>
                        <div class="menu-tooltip">{{t0}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/simbolos.html'"><img src="../imagenes/im2.jpg"></div>
                        <div class="menu-tooltip">{{t3}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/identidad.html'"><img src="../imagenes/im3.png"></div>
                        <div class="menu-tooltip">{{t4}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/bandera.html'"><img src="../imagenes/im4.png"></div>
                        <div class="menu-tooltip">{{t5}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/escudo.html'"><img src="../imagenes/im5.jpg"></div>
                        <div class="menu-tooltip">{{t6}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/himno.html'"><img src="../imagenes/im6.jpg"></div>
                        <div class="menu-tooltip">{{t7}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/actividades.html'"><img src="../imagenes/im7.jpg"></div>
                        <div class="menu-tooltip">{{t8}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/juegos.html'"><img src="../imagenes/im8.jpg"></div>
                        <div class="menu-tooltip">{{t9}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/glosario.html'"><img src="../imagenes/im9.gif"></div>
                        <div class="menu-tooltip">{{t10}}</div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <!-- MODAL -->
            <div class="modal fade" id="modal" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%">
                <div class="modal-content modal-1">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido">
                        <div id="jp_container_1" class="jp-video jp-video-360p" role="application" aria-label="media player" style="margin: auto auto;">
                            <div class="jp-type-single">
                                <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                                <div class="jp-gui">
                                    <div class="jp-video-play">
                                        <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                                    </div>
                                    <div class="jp-interface">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                            </div>
                                        </div>
                                        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                        <div class="jp-controls-holder">
                                            <div class="jp-controls">
                                                <button class="jp-play" role="button" tabindex="0">play</button>
                                                <button class="jp-stop" role="button" tabindex="0">stop</button>
                                            </div>
                                            <div class="jp-volume-controls">
                                                <button class="jp-mute" role="button" tabindex="0">mute</button>
                                                <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                                <div class="jp-volume-bar">
                                                    <div class="jp-volume-bar-value"></div>
                                                </div>
                                            </div>
                                            <div class="jp-toggles">
                                                <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                                                <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                                            </div>
                                        </div>
                                        <div class="jp-details">
                                            <div class="jp-title" aria-label="title">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jp-no-solution">
                                    <span>Update Required</span>
                                    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="atras" data-dismiss="modal" onclick="$('#jquery_jplayer_1').jPlayer('stop');"><img src="../imagenes/flecha_atras.gif" height="70px"></div>
                  </div>
                </div>  
              </div>    
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/texto.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- custom scrollbar plugin -->
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      (function($){
        $(window).load(function(){
          $("#content-3").mCustomScrollbar({
            scrollButtons:{enable:true},
            theme:"rounded-dots-dark",
            scrollbarPosition:"outside",
            alwaysShowScrollbar:2
          });
        });
      })(jQuery);
    </script>
</body>
</html>