<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Símbolo Patrios Venezuela</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/swiper.css" rel="stylesheet" type="text/css"/>
    <style>
        .swiper-container {
        width: 300px;
        height: 280px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -100px;
        }
        .swiper-slide {
        background-position: center;
        background-size: cover;
        }
        .swiper-button-prev{
            left: -150px;
        }
        .swiper-button-next{
            right: -150px;
        }

    </style>
</head>
<body>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <div id="pagewrap">
        <audio autoplay>
            <source src="../sonidos/7_juega.mp3">
        </audio>
        <div ng-app="myApp" ng-controller="cntrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 contenido" style="position: absolute; height: 100%;">
                        <div class="borde-abaj">&nbsp;</div>
                        <div class="borde-izq">
                            <img src="../imagenes/borde-izq.png" height="99%">
                        </div>
                        <div class="borde-der">
                            <img src="../imagenes/esq-der.png" height="99%">
                        </div>
                        <div class="T1 T1-sombra">{{t32}}</div>
                        <div class="T1">{{t32}}</div>
                        <div class="marshmallow" style="position: relative;margin-top: 8%;font-size:1.8em;">{{t33}}</div>
                        <div class="centrado-centrado">
                            <!-- Swiper -->
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url('../imagenes/im10.png')"><div class="jugar" onclick="window.location='sopadeletras.html'">Jugar</div><div class="cubo-etiqueta">Sopa de letras</div></div>
                                    <div class="swiper-slide" style="background-image:url(../imagenes/im12.png)"><div class="jugar" onclick="window.location='rompecabeza.html'">Jugar</div><div class="cubo-etiqueta">Rompecabeza</div></div>
                                    <div class="swiper-slide" style="background-image:url(../imagenes/im13.png)"><div class="jugar" onclick="window.location='memoria.html'">Jugar</div><div class="cubo-etiqueta">Memoria</div></div>
                                </div>
                                <!-- Add Pagination -->
                                <!-- <div class="swiper-pagination"></div> -->
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>                            
                        </div>
                        <!--<div class="T2">{{t33}}</div>-->
                    </div>
                    <div class="col-md-2 menu" style="position: absolute; height: 100%; right: 0px;">
                        <div class="menu-boton" onclick="window.location='../retorno.html'"><img src="../imagenes/im0.gif"></div>
                        <div class="menu-tooltip">{{t0}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/simbolos.html'"><img src="../imagenes/im2.jpg"></div>
                        <div class="menu-tooltip">{{t3}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/identidad.html'"><img src="../imagenes/im3.png"></div>
                        <div class="menu-tooltip">{{t4}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/bandera.html'"><img src="../imagenes/im4.png"></div>
                        <div class="menu-tooltip">{{t5}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/escudo.html'"><img src="../imagenes/im5.jpg"></div>
                        <div class="menu-tooltip">{{t6}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/himno.html'"><img src="../imagenes/im6.jpg"></div>
                        <div class="menu-tooltip">{{t7}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/actividades.html'"><img src="../imagenes/im7.jpg"></div>
                        <div class="menu-tooltip">{{t8}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/juegos.html'"><img src="../imagenes/im8.jpg"></div>
                        <div class="menu-tooltip">{{t9}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/glosario.html'"><img src="../imagenes/im9.gif"></div>
                        <div class="menu-tooltip">{{t10}}</div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/texto.js"></script>
    <script type="text/javascript" src="../bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
</body>
<!-- Swiper JS -->
    <script src="../js/swiper.min.js"></script>

<!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            effect: 'cube',
            grabCursor: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            speed: 1000,
            cube: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94
            }
        });
    </script>
</html>