<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Símbolo Patrios Venezuela</title>
    <link href="../css/memoria.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../js/memoria.js"></script>
</head>
<body>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <div id="pagewrap">
        <div ng-app="myApp" ng-controller="cntrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 contenido" style="position: absolute; height: 100%;">
                        <div class="borde-abaj">&nbsp;</div>
                        <div class="borde-izq">
                            <img src="../imagenes/borde-izq.png" height="99%">
                        </div>
                        <div class="borde-der">
                            <img src="../imagenes/esq-der.png" height="99%">
                        </div>
                        <div class="T1 T1-sombra">{{t38}}</div>
                        <div class="T1">{{t38}}</div>
                        <div class="marshmallow" style="position: relative;margin-top: 8%;font-size:1.8em;z-index:999;">{{t39}}</div>
                        <div class="centrado-centrado">
    <div id="tituloDentro">
        <div id="fallos">Fallos: <span id="fallosN">0</span></div> 
        <div id="fallos">Aciertos: <span id="aciertos">0</span></div>
    </div>
    <div id="contenido-memoria">
        <div id="contenidoDentro">
            <table class="memoria-personaliza">
                <tr>
                    <td class="personaje" id="0"></td>
                    <td class="personaje" id="1"></td>
                    <td class="personaje" id="2"></td>
                    <td class="personaje" id="3"></td>
                    <td class="personaje" id="4"></td>
                    <td class="personaje" id="5"></td>
                </tr>
                <tr>
                    <td class="personaje" id="6"></td>
                    <td class="personaje" id="7"></td>
                    <td class="personaje" id="8"></td>
                    <td class="personaje" id="9"></td>
                    <td class="personaje" id="10"></td>
                    <td class="personaje" id="11"></td>
                </tr>
                <tr>
                    <td class="personaje" id="12"></td>
                    <td class="personaje" id="13"></td>
                    <td class="personaje" id="14"></td>
                    <td class="personaje" id="15"></td>
                    <td class="personaje" id="16"></td>
                    <td class="personaje" id="17"></td>
                </tr>
            </table>
        </div>
    </div>
                        </div>
                        <div class="T2" style="width:95%">
                            <img style="cursor:pointer;position:relative;right:0;" onclick="window.location='juegos.html'" src="../imagenes/flecha_atras.gif" height="70px">
                        </div>
                    </div>
                    <div class="col-md-2 menu" style="position: absolute; height: 100%; right: 0px;">
                        <div class="menu-boton" onclick="window.location='../retorno.html'"><img src="../imagenes/im0.gif"></div>
                        <div class="menu-tooltip">{{t0}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/simbolos.html'"><img src="../imagenes/im2.jpg"></div>
                        <div class="menu-tooltip">{{t3}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/identidad.html'"><img src="../imagenes/im3.png"></div>
                        <div class="menu-tooltip">{{t4}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/bandera.html'"><img src="../imagenes/im4.png"></div>
                        <div class="menu-tooltip">{{t5}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/escudo.html'"><img src="../imagenes/im5.jpg"></div>
                        <div class="menu-tooltip">{{t6}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/himno.html'"><img src="../imagenes/im6.jpg"></div>
                        <div class="menu-tooltip">{{t7}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/actividades.html'"><img src="../imagenes/im7.jpg"></div>
                        <div class="menu-tooltip">{{t8}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/juegos.html'"><img src="../imagenes/im8.jpg"></div>
                        <div class="menu-tooltip">{{t9}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/glosario.html'"><img src="../imagenes/im9.gif"></div>
                        <div class="menu-tooltip">{{t10}}</div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/texto.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>