<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Símbolo Patrios Venezuela</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="../bootstrap/js/jquery.js"></script>
    <script>
        $(document).ready(function(){
          $(document).mousemove(function(event){
            $('#cursor-x').val(event.pageX);
            $('#cursor-y').val(event.pageY);
            if($('#destino').val()!=''){
                $("#"+$('#destino').val()).attr('x2',event.pageX);
                $("#"+$('#destino').val()).attr('y2',event.pageY);
            }
          });
        });
        function inicio_linea(linea){
            $('#destino').val(linea);
            $("#"+linea).attr('x1',event.pageX);
            $("#"+linea).attr('y1',event.pageY);
            $("#"+linea).attr('x2',event.pageX);
            $("#"+linea).attr('y2',event.pageY);
        }
        function final_linea(respuesta){
            var numero = Math.floor((Math.random()*4));
            var msg;
            var correcto = ['Excelente. Muy buen trabajo.', 'Genial. Continua así.', 'Si que eres bueno para esto.', 'Que bien. Has respondido correctamente.'];
            var incorrecto = ['Intenta nuevamente.', 'Más suerte para la proxima.', 'Quizas debas repasar el contenido.', 'Mmmmm... prueba con otra respuesta.'];
            var relaciones = ['','linea-3','linea-1','linea-2'];
            if($('#destino').val()!=''){
                if($('#destino').val()!=relaciones[respuesta]){
                    msg = incorrecto[numero];
                    $("#"+$('#destino').val()).attr('x1',0);
                    $("#"+$('#destino').val()).attr('y1',0);
                    $("#"+$('#destino').val()).attr('x2',0);
                    $("#"+$('#destino').val()).attr('y2',0);
                }
                else{
                    msg = correcto[numero];
                }
                $('#destino').val('');            
                $("#resultado").html(msg);
                $("#modal").modal();
            }
            $('input:radio[name=relacion1]').prop("checked", false);
            $('input:radio[name=relacion2]').prop("checked", false);
        }
    </script>
</head>
<body>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <div id="pagewrap">
        <div ng-app="myApp" ng-controller="cntrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 contenido" style="position: absolute; height: 100%;">
                        <div class="borde-abaj">&nbsp;</div>
                        <div class="borde-izq">
                            <img src="../imagenes/borde-izq.png" height="99%">
                        </div>
                        <div class="borde-der">
                            <img src="../imagenes/esq-der.png" height="99%">
                        </div>
                        <div class="T1 T1-sombra">{{t48}}</div>
                        <div class="T1">{{t48}}</div>
                        <div class="marshmallow" style="position: relative;margin-top: 8%;font-size:1.6em;z-index:999;">{{t49}}</div>
                        <div class="T2" style="width:95%">
                            <input type="hidden" id="destino">
                            <input type="hidden" id="cursor-x">
                            <input type="hidden" id="cursor-y">
                            <img style="cursor:pointer;position:relative;right:0;" onclick="window.location='actividades.html'" src="../imagenes/flecha_atras.gif" height="70px">
                        </div>
                        <svg id="linea-contenedor">
                            <line id="linea-1" x1="0" y1="0" x2="0" y2="0">
                        </svg>
                        <svg id="linea-contenedor">
                            <line id="linea-2" x1="0" y1="0" x2="0" y2="0">
                        </svg>
                        <svg id="linea-contenedor">
                            <line id="linea-3" x1="0" y1="0" x2="0" y2="0">
                        </svg>
                        <div id="relacion1">
                            <table width="100%" height="100%">
                                <tr>
                                    <td id="relacion1-t1">&nbsp;<input type="radio" name="relacion1" onclick="inicio_linea('linea-1');" style="cursor:pointer"></td>
                                </tr>
                                <tr>
                                    <td id="relacion1-t2">&nbsp;<input type="radio" name="relacion1" onclick="inicio_linea('linea-2');" style="cursor:pointer"></td>
                                </tr>
                                <tr>
                                    <td id="relacion1-t3">&nbsp;<input type="radio" name="relacion1" onclick="inicio_linea('linea-3');" style="cursor:pointer"></td>
                                </tr>
                            </table>
                        </div>
                        <div id="relacion2">
                            <table border="1" width="100%" height="100%" class="marshmallow" style="font-size: 1.8em;">
                                <tr>
                                    <td id="relacion2-t1">
                                        <table class="azul">
                                            <tr>
                                                <td><input type="radio" name="relacion2" style="cursor:pointer" onclick="final_linea(1);"></td>
                                                <td>{{t50}}</td>
                                            <tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="relacion2-t2">
                                        <table class="azul">
                                            <tr>
                                                <td><input type="radio" name="relacion2" style="cursor:pointer" onclick="final_linea(2);"></td>
                                                <td>{{t51}}</td>
                                            <tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="relacion2-t3">
                                        <table class="azul">
                                            <tr>
                                                <td><input type="radio" name="relacion2" style="cursor:pointer" onclick="final_linea(3);"></td>
                                                <td>{{t52}}</td>
                                            <tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2 menu" style="position: absolute; height: 100%; right: 0px;">
                        <div class="menu-boton" onclick="window.location='../retorno.html'"><img src="../imagenes/im0.gif"></div>
                        <div class="menu-tooltip">{{t0}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/simbolos.html'"><img src="../imagenes/im2.jpg"></div>
                        <div class="menu-tooltip">{{t3}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/identidad.html'"><img src="../imagenes/im3.png"></div>
                        <div class="menu-tooltip">{{t4}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/bandera.html'"><img src="../imagenes/im4.png"></div>
                        <div class="menu-tooltip">{{t5}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/escudo.html'"><img src="../imagenes/im5.jpg"></div>
                        <div class="menu-tooltip">{{t6}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/himno.html'"><img src="../imagenes/im6.jpg"></div>
                        <div class="menu-tooltip">{{t7}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/actividades.html'"><img src="../imagenes/im7.jpg"></div>
                        <div class="menu-tooltip">{{t8}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/juegos.html'"><img src="../imagenes/im8.jpg"></div>
                        <div class="menu-tooltip">{{t9}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/glosario.html'"><img src="../imagenes/im9.gif"></div>
                        <div class="menu-tooltip">{{t10}}</div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <!-- MODAL -->
            <div class="modal fade" id="modal" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%">
                <div class="modal-content modal-1" style="margin-top: 6em; min-height: 10em;">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido marshmallow" style="width: 20em;">
                        <br><span class="amarillo" id="resultado"></span>
                    </div>
                    <div class="atras" data-dismiss="modal"><img src="../imagenes/flecha_atras.gif"></div>
                  </div>
                </div>  
              </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/texto.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- custom scrollbar plugin -->
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      (function($){
        $(window).load(function(){
          $("#content-3").mCustomScrollbar({
            scrollButtons:{enable:true},
            theme:"rounded-dots-dark",
            scrollbarPosition:"outside",
            alwaysShowScrollbar:2
          });
        });
      })(jQuery);
    </script>
</body>
</html>