<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Símbolo Patrios Venezuela</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript">
        function evalua(pregunta,respuesta){
            var numero = Math.floor((Math.random()*4));
            var msg;
            var respuestas = [3,2,3,1];
            var correcto = ['Excelente. Muy buen trabajo.', 'Genial. Continua así.', 'Si que eres bueno para esto.', 'Que bien. Has respondido correctamente.'];
            var incorrecto = ['Intenta nuevamente.', 'Más suerte para la proxima.', 'Quizas debas repasar el contenido.', 'Mmmmm... prueba con otra respuesta.'];
            var imagen = pregunta + 1;
            if (respuesta != respuestas[pregunta]){
                msg = incorrecto[numero];
                $('#responde-im'+imagen).attr('src','../imagenes/im16-0.png');
            }
            else{
                msg = correcto[numero];
                $('#responde-im'+imagen).attr('src','../imagenes/im16-'+imagen+'.jpg');
            }
            $("#resultado").html(msg);
            $("#modal").modal();
        }
    </script>
</head>
<body>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <div id="pagewrap">
        <div ng-app="myApp" ng-controller="cntrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 contenido" style="position: absolute; height: 100%;">
                        <div class="borde-abaj">&nbsp;</div>
                        <div class="borde-izq">
                            <img src="../imagenes/borde-izq.png" height="99%">
                        </div>
                        <div class="borde-der">
                            <img src="../imagenes/esq-der.png" height="99%">
                        </div>
                        <div class="T1 T1-sombra">{{t47}}</div>
                        <div class="T1">{{t47}}</div>
                        <div class="marshmallow" style="position: relative;margin-top: 8%;font-size:1.6em;z-index:999;">{{t42}}</div>
                        <div id="responde-img">
                            <table>
                                <tr><td><img src="../imagenes/im16-0.png" id="responde-im1"></td><td><img src="../imagenes/im16-0.png" id="responde-im2"></td></tr>
                                <tr><td><img src="../imagenes/im16-0.png" id="responde-im3"></td><td><img src="../imagenes/im16-0.png" id="responde-im4"></td></tr>
                            </table>
                        </div>
                        <div id="content-3" class="parrafo pull-right " style="margin-top: 0%; width:45%">
                            <p>
                                <div class="azul">{{t43}}</div>
                                <div>
                                    <ol type="1" start="1">
                                        <li><input type="radio" name="pregunta1" value="1" onclick="evalua(0,1);">&nbsp;{{t43_1}}</li>
                                        <li><input type="radio" name="pregunta1" value="2" onclick="evalua(0,2);">&nbsp;{{t43_2}}</li>
                                        <li><input type="radio" name="pregunta1" value="3" onclick="evalua(0,3);">&nbsp;{{t43_3}}</li>
                                    </ol>
                                </div>
                                <div class="azul">{{t44}}</div>
                                <div>
                                    <ol type="1" start="1">
                                        <li><input type="radio" name="pregunta1" value="1" onclick="evalua(1,1);">&nbsp;{{t44_1}}</li>
                                        <li><input type="radio" name="pregunta1" value="2" onclick="evalua(1,2);">&nbsp;{{t44_2}}</li>
                                        <li><input type="radio" name="pregunta1" value="3" onclick="evalua(1,3);">&nbsp;{{t44_3}}</li>
                                    </ol>
                                </div>
                                <div class="azul">{{t45}}</div>
                                <div>
                                    <ol type="1" start="1">
                                        <li><input type="radio" name="pregunta1" value="1" onclick="evalua(2,1);">&nbsp;{{t45_1}}</li>
                                        <li><input type="radio" name="pregunta1" value="2" onclick="evalua(2,2);">&nbsp;{{t45_2}}</li>
                                        <li><input type="radio" name="pregunta1" value="3" onclick="evalua(2,3);">&nbsp;{{t45_3}}</li>
                                    </ol>
                                </div>
                                <div class="azul">{{t46}}</div>
                                <div>
                                    <ol type="1" start="1">
                                        <li><input type="radio" name="pregunta1" value="1" onclick="evalua(3,1);">&nbsp;{{t46_1}}</li>
                                        <li><input type="radio" name="pregunta1" value="2" onclick="evalua(3,2);">&nbsp;{{t46_2}}</li>
                                        <li><input type="radio" name="pregunta1" value="3" onclick="evalua(3,3);">&nbsp;{{t46_3}}</li>
                                    </ol>
                                </div>

                            </p>
                            <br>
                        </div>

                        <div class="T2" style="width:95%">
                            <img style="cursor:pointer;position:relative;right:0;" onclick="window.location='actividades.html'" src="../imagenes/flecha_atras.gif" height="70px">
                        </div>
                    </div>
                    <div class="col-md-2 menu" style="position: absolute; height: 100%; right: 0px;">
                        <div class="menu-boton" onclick="window.location='../retorno.html'"><img src="../imagenes/im0.gif"></div>
                        <div class="menu-tooltip">{{t0}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/simbolos.html'"><img src="../imagenes/im2.jpg"></div>
                        <div class="menu-tooltip">{{t3}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/identidad.html'"><img src="../imagenes/im3.png"></div>
                        <div class="menu-tooltip">{{t4}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/bandera.html'"><img src="../imagenes/im4.png"></div>
                        <div class="menu-tooltip">{{t5}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/escudo.html'"><img src="../imagenes/im5.jpg"></div>
                        <div class="menu-tooltip">{{t6}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/himno.html'"><img src="../imagenes/im6.jpg"></div>
                        <div class="menu-tooltip">{{t7}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/actividades.html'"><img src="../imagenes/im7.jpg"></div>
                        <div class="menu-tooltip">{{t8}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/juegos.html'"><img src="../imagenes/im8.jpg"></div>
                        <div class="menu-tooltip">{{t9}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/glosario.html'"><img src="../imagenes/im9.gif"></div>
                        <div class="menu-tooltip">{{t10}}</div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <!-- MODAL -->
            <div class="modal fade" id="modal" tabindex="-1" rol="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="width: 70%">
                <div class="modal-content modal-1" style="margin-top: 6em; min-height: 10em;">
                  <div class="modal-body">
                    <button title="Cerrar Ventana" type="button" class="close" data-dismiss="modal" style="margin-bottom:-5px; margin-top:-15px; margin-right:-13px;" aria-hidden="true">×</button>
                    <div class="modal-contenido marshmallow" style="width: 20em;">
                        <br><span class="amarillo" id="resultado"></span>
                    </div>
                    <div class="atras" data-dismiss="modal"><img src="../imagenes/flecha_atras.gif" height="70px"></div>
                  </div>
                </div>  
              </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/texto.js"></script>
    <script type="text/javascript" src="../bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- custom scrollbar plugin -->
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      (function($){
        $(window).load(function(){
          $("#content-3").mCustomScrollbar({
            scrollButtons:{enable:true},
            theme:"rounded-dots-dark",
            scrollbarPosition:"outside",
            alwaysShowScrollbar:2
          });
        });
      })(jQuery);
    </script>
</body>
</html>