<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Símbolo Patrios Venezuela</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/sopadeletras.css">
</head>
<body>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <div id="pagewrap">
        <div ng-app="myApp" ng-controller="cntrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 contenido" style="position: absolute; height: 100%;">
                        <div class="borde-abaj">&nbsp;</div>
                        <div class="borde-izq">
                            <img src="../imagenes/borde-izq.png" height="99%">
                        </div>
                        <div class="borde-der">
                            <img src="../imagenes/esq-der.png" height="99%">
                        </div>
                        <div class="T1 T1-sombra">{{t34}}</div>
                        <div class="T1">{{t34}}</div>
                         <div class="marshmallow" style="position: relative;margin-top: 8%;font-size:1.8em;">{{t35}}</div>
                        <div class="centrado-centrado">
                            <div class="sopa">                            
                                <div id='juego'></div>
                                <div id='Palabras'></div>
                                <br>
                                <div id="mensaje-sopa"></div>
                            </div>
                        </div>
                        <div class="T2" style="width:95%">
                            <img style="cursor:pointer;position:relative;right:0;" onclick="window.location='juegos.html'" src="../imagenes/flecha_atras.gif" height="70px">
                        </div>
                    </div>
                    <div class="col-md-2 menu" style="position: absolute; height: 100%; right: 0px;">
                        <div class="menu-boton" onclick="window.location='../retorno.html'"><img src="../imagenes/im0.gif"></div>
                        <div class="menu-tooltip">{{t0}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/simbolos.html'"><img src="../imagenes/im2.jpg"></div>
                        <div class="menu-tooltip">{{t3}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/identidad.html'"><img src="../imagenes/im3.png"></div>
                        <div class="menu-tooltip">{{t4}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/bandera.html'"><img src="../imagenes/im4.png"></div>
                        <div class="menu-tooltip">{{t5}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/escudo.html'"><img src="../imagenes/im5.jpg"></div>
                        <div class="menu-tooltip">{{t6}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/himno.html'"><img src="../imagenes/im6.jpg"></div>
                        <div class="menu-tooltip">{{t7}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/actividades.html'"><img src="../imagenes/im7.jpg"></div>
                        <div class="menu-tooltip">{{t8}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/juegos.html'"><img src="../imagenes/im8.jpg"></div>
                        <div class="menu-tooltip">{{t9}}</div>
                        <div class="menu-boton" onclick="window.location='../contenido/glosario.html'"><img src="../imagenes/im9.gif"></div>
                        <div class="menu-tooltip">{{t10}}</div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/texto.js"></script>
    <script type="text/javascript" src="../bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/wordfind.js"></script> 
    <script type="text/javascript" src="../js/wordfindgame.js"></script> 
    <script>
        var words = ['Bandera','Escudo','Himno','Venezuela','Amarillo','Azul','Rojo'];
        var gamePuzzle = wordfindgame.create(words, '#juego', '#Palabras'); 
        var puzzle = wordfind.newPuzzle(words,{height: 18, width:18, fillBlanks: false});
        wordfind.print(puzzle);   
        $('#solve').click( function() {wordfindgame.solve(gamePuzzle, words);});                            
    </script>
</body>
</html>